<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Update Customer</title>
</head>
<body>

<form action="customerUpdate" method ="post">

 name:<input type="text" name="name" th:field="${customer.name}"/><br/>
 address:<input type="text" name = "address" th:field="${customer.address}"/><br/>
 weight:<input type="text" name ="weight" th:field="${customer.weight}"/><br/>

 <input type="submit" value="Submit"/>

</form>

</body>
</html>
